.credentials {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  font-size: 2rem;
  // background: $color-gray-light-2;
  border-radius: 0.8rem;
  margin-bottom: 4rem;
  box-shadow: 0 0 0.5rem rgba($color-black, 0.25);

  &__group {
    text-align: start;
  }

  &__label {
    color: $color-gray-dark-1;
  }
}
