.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  padding: 2rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba($color-black, 0.25);

  &__user {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    $size: 6rem;
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  &__comment {
    grid-column: 2 / 5;
    line-height: 2.4rem;
  }
}
